body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.messenger {
  display: flex;
  width: 100vw;
  margin: 0 auto;
}
.dialog-list {
  background-color: rgb(57, 145, 57);
  width: 200px;
  height: 100vh;
}
.dialog-list-item {
  width: 80%;
}
.chat {
  background-color: rgb(172, 58, 58);
  border: solid 2px goldenrod;
  flex-grow: 1;
}
